<header>
    <h1 id="website-title">MyFace</h1>

    <nav id="main-nav" aria-label="Main Navigation">
        <a href="/posts" aria-label="Link to Post Feed">Home</a> 
        <a href="/posts" aria-label="Link to Post Feed">Posts</a> 
        <a href="/users" aria-label="Link to all Users">Users</a>
    </nav>

    <a href="/posts/create/" aria-label="Link to all Users">+ New Post</a>
</header>