<header>
    <nav aria-label="Main Navigation">
        <a href="/posts" aria-label="Link to Post Feed">Posts</a> 
        <a href="/users" aria-label="Link to all Users">Users</a>
    </nav>
</header>