<button id="menu-toggle" class="menu-btn" aria-label="Toggle menu">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
</button>

<div class="side-navbar" id="side-navbar">

    <h1 id="sidenav-website-title">MyFace</h1>


    <nav aria-label="Main Navigation">
        <a href="/posts" aria-label="Link to Post Feed">Home</a> 
        <a href="/posts" aria-label="Link to Post Feed">Posts</a> 
        <a href="/users" aria-label="Link to all Users">Users</a>
        <a href="/posts/create/" aria-label="Link to all Users">+ New Post</a>
    </nav>
    
    <div class="sidebar-logos-container">
        <img id="softwire-logo" src= "https://gitlab.softwire.com/uploads/-/system/appearance/logo/1/Softwire_logo_light_blue.png" alt="Softwire PNG Logo" >
        <img src="https://www.techswitch.co.uk/hs-fs/hubfs/Color%20logo%20-%20no%20background.png?width=300&height=115&name=Color%20logo%20-%20no%20background.png" alt="Techswitch Logo" >
    </div>
</div>