<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<%- include('_side_navbar') -%>
<body>
<h1 id="create-user-title">Create User</h1>
<div id="create-user-form-container">
    <form id="create-user-form" method="post" action="/users/create">
        <label>
            Name:
            <input type="text" name="name" required/>
        </label>
        <label>
            Username:
            <input id="username" type="text" name="username" required/>
        </label>
        <div id="username-validation-message">
            <p>Please make sure that your username does not have spaces and is lowercase.</p>
        </div>

        <label>
            Email:
            <input id="email" type="text" name="email" required/>
        </label>
        <label>
            ProfileImageUrl:
            <input type="text" name="profileImageUrl" required/>
        </label>
        <label>
            CoverImageUrl:
            <input type="text" name="coverImageUrl" required/>
        </label>
        <button id="create-user-submit-button" type="submit" disabled>Submit</button>
    </form>
</div>
</body>
<%- include('_footer') -%>
</html>