header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 0 200px;
    background-color: #151820;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5f5f5;
    height: 80px;
    padding-bottom: 5px;
}

h1 {
    color: whitesmoke;
    font-weight: lighter;
    font-size: 24px;
}

#main-nav {
    display: flex;
    flex-direction: row;
    /* padding-left: 2rem; */
}

a {
    all: unset;
    color: whitesmoke;
}

a:hover {
    cursor: pointer;
}

#website-title {
    color: whitesmoke;
    padding-right: 47.03px;
}

#main-nav a {
    margin: 0 40px;
}

@media (max-width: 1024px) {
    header {
        font-size: 20px;
    }
    #main-nav a {
        margin: 0 15px;
    }
    #website-title {
        padding-right: 26.64px;
    }
    
}

/* @media (max-width: 1024px) {
    header {
        font-size: 20px;
    }
    #main-nav a {
        margin: 0 15px;
    }
    
} */

@media (orientation:portrait), (max-width: 1023px) {
    header {
        display: none;
    }    
}
