html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
}

body {
    background:#252A38;
}

body h1 {
    text-align: center;
    padding: 25px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

main {
    display: flex;
    align-items: center;
}

h2 {
    all: unset;
    display: block;
}

.post-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 60vw;
    justify-content: center;
    margin: 50px auto;
}

.post-container{
    background:#151820;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 175px 45px 45px 45px;
    gap: 0px 0px;
    width: 95%;
    height: 320px; /* Set a fixed height for the card */
}

.post-header-container{
    grid-row: 3;
    color: white;
    margin-left: 20px;
    /* margin-bottom: 5px; */
    /* margin-top: 5px; */
    font-size: 0.8rem;
}

li {
    list-style: none;
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center; */
}

.username {
    font-weight: bold;
}

.image-container{
    grid-row: 1;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.post-caption-container{
    /* display: flex;
    align-items: center; */
    grid-row: 4;
    height: 35px;
}

.post-caption{
   color: white;
   margin: 0 20px;
   /* padding-top: 5px; */
   font-size: 0.8rem;
   flex-grow: 1; /* Allow the description to take up available space */
   overflow: hidden; /* Hide overflow content */
   text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

button {
    all: unset;
}

.button-container{
    grid-row: 2;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    height: 20px;
}

.button-container button{
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 1rem;
}

/* Media Queries */

/* @media (min-width: 425px) {
    .post-caption{
        margin-bottom: 8px;
     }

     .button-container button{
        font-size: 1.2rem; 
    }
}

@media (min-width: 550px) {
    .post-container{
        width: 70vw;
    } */
    /* .post-caption{
        font-size: 1.2rem;
        margin-bottom: 10px;
     }
     .button-container button{
        font-size: 1.4rem; */
    /* } */
/* } */


/* @media (min-width: 768px) {
    .post-container{
        width: 60vw;
    }
    .post-caption{
        font-size: 1.2rem;
        margin-bottom: 10px;
     }
     .button-container button{
        font-size: 1.4rem;
    }
}

@media (min-width: 900px) {
    .post-container{
        width: 55vw;
    }
}


@media (min-width: 1020px) {
    .post-container{
        width: 50vw;
    }
}

@media (min-width: 1200px) {
    .post-container{
        width: 45vw;
    }
}

@media (min-width: 1400px) {
    .post-container{
        width: 40vw;
    }
} */
